@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.bienvenida{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    background: #eaeaea;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


h2 {
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 40px;
	color: #848484;
}

.card {
    max-width: 500px;
    border: 1px solid #535353;
    margin: 3px;
    padding: auto;
}
